
.map__group {
    position: relative;
}

.map__info {
    position: absolute;
    min-height: 308px;
    top: calc(-308px - 54px);
    left: 0;
    background-color: #fff;
    width: 319px;
    padding-left: 50px;
}

.map__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 167%;
    text-transform: uppercase;
    color: #000;
    padding-top: 49px;
    padding-bottom: 23px;
}

.map__address{
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #666;
    padding-bottom: 37px;
}

.map__phone{
    font-weight: 400;
font-size: 16px;
line-height: 112%;
color: #666;
}



.map__btn {
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #fb565a;
    border-radius: 3px;
    padding: 17px 40px;
    display: inline-block;
    text-decoration: none;
    transition: 300ms;
    margin-top: 37px;
}